*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #BEDCF8;
    min-height: 100vh;
    font-family: Poppins, sans-serif;


}

.fundo img
{
    width: 100%;
    display:block;
}
.conteudo
{
    background-color: #BEDCF8;
    padding: 80px 120px;
}
.conteudo h2
{
    font-size: 2rem;
    margin-bottom: 20px;
}
.conteudo p
{
    max-width: 700px;
    line-height: 1.6;
}
.cartao-pequeno
{
    position: absolute;

    top: 240px;
    left: 50%;

    transform: translateX(-50%);

    width: 500px;

    border-radius: 15px;
    overflow: hidden;
    

    box-shadow: 0 6px 15px rgba(0,0,0,.25);
}
.cartao-pequeno img{
    width: 100%;
    display: block;
}
.conteudoSaladeEstar
{
    background: #BEDCF8;
    padding: 80px 120px;
    margin-top: -500px;

    border-top-left-radius: 100% 180px;
    border-top-right-radius: 100% 120px;

    padding: 120px 120px 80px;
    position: relative;
    z-index: 2;
}
.conteudoSaladeEstar h2
{
    color: #163875;
    font-size: 2rem;
    margin-bottom: 20px;
}
.conteudoSaladeEstar p
{
    max-width: 700px;
    line-height: 1.6;
    color: #224c8d;
}
