*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #BEDCF8;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
}

.fundo
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.fundo img
{
    width: 100%;
    display:block;
}
.conteudo
{
    background-color: #BEDCF8;
    padding: 80px 120px;
}
.conteudo h2
{
    font-size: 2rem;
    margin-bottom: 20px;
}
.conteudo p
{
    max-width: 700px;
    line-height: 1.6;
}

.h1
{
    text-align: center;
    margin-top: 150px;
    color: #BEDCF8;
}
#post-form
{
    width: 80%;
    max-width: 800px;
    margin: 180px auto;
    padding: 25px;

    background-color: #BEDCF8;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.8);

    display: flex;
    flex-direction: column;
    gap: 15px;

}
#post-form input, #post-form textarea
{
    padding: 12px;
    border: 15px;
    border-radius: 15px;
    font-size: 16px;
}
#post-form button
{
    background-color: #000D2D;
    color: #BEDCF8;
    border: none;
    padding: 12px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
#post-form button:hover
{
    background-color: #163875;
}
#blog-posts
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.post-card{
    width: 700px;
    padding: 25px;

    background-color: #BEDCF8;
    border-radius: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.post-card h3
{
    margin-top: 0;
    color:#000D2D;
    font-size: 2rem;
}
.author
{
    color: #163875;
    font-weight: 600;
}
.content
{
    margin: 15px 0;
    line-height: 1.6;
}
.date
{
    color:#163875;
}
.btn-delete
{
    background-color: #000D2D;
    color: #BEDCF8;
    border: nome;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-delete:hover
{
    background-color: #163875;
}