*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #BEDCF8;
    min-height: 100vh;
    font-family: Poppins, sans-serif;


}

.fundo img
{
    width: 100%;
    display:block;
}
.conteudo
{
    background-color: #BEDCF8;
    padding: 80px 120px;
}
.conteudo h2
{
    font-size: 2rem;
    margin-bottom: 20px;
}
.conteudo p
{
    max-width: 700px;
    line-height: 1.6;
}

.enviavel {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;

    z-index: 2;
    margin-top: 10px;


    margin: 20px;
}
.enviavel input
{
    width: 300px;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1rem;
    background: #ffffff;
}
.enviavel button
{
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: #000D2D;
    color: #BEDCF8;
}
.enviavel button:hover{
    background-color: #163875;
}

.entrar-em-contato
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}
.retangulo-azul
{

  position: absolute;
    top: 0;
    right: 0;

    width: 40%;
    height: 120vh;

    background-color: #BEDCF8;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    padding-left: 80px;

}
.retangulo-azul h1
{
    color: #000D2D;
    font-size: 3rem;
    margin-bottom: 15px;
}
.retangulo-azul p
{
    color: #163875;
    font-size: 1.5rem;

    margin: 0px;
    margin-bottom: 30px;

    max-width: 400px;
}

